# MinIO
MINIO_ROOT_USER=<minio_root_user>
MINIO_ROOT_PASSWORD=<minio_root_password>
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET_NAME=<minio_bucket_name>

# PostgreSQL
DB_NAME=<db_name>
DB_USER=<db_user>
DB_PASSWORD=<db_password>

# Redis
REDIS_PASSWORD=<redis_password>
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0