# ワーカーのPC名
PC_NAME=<worker_name>

# Redis
REDIS_PASSWORD=<redis_password>
REDIS_URL=redis://:${REDIS_PASSWORD}@<redis_host>:6379/0

# MinIO
MINIO_URL=http://<minio_host>:9000
MINIO_ACCESS_KEY=<minio_access_key>
MINIO_SECRET_KEY=<minio_secret_key>
MINIO_BUCKET_NAME=<minio_bucket_name>

# MIAOS
MIAOS_API_URL=http://<miaos_host>:80
# OpenAPI
OPENAPI_URL=http://<miaos_host>:80/api/openapi.json