# ワーカーのPC名
PC_NAME=

# RedisのURL
REDIS_URL=
# MinIOのURL
MINIO_URL=
# MinIOのアクセスキー
MINIO_ACCESS_KEY=
# MinIOのシークレットキー
MINIO_SECRET_KEY=
# MinIOのバケット名
MINIO_BUCKET_NAME=

# MIAOSのURL
MIAOS_API_URL=

# OpenAPIのURL
OPENAPI_URL=